* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header, main, footer {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  color: white;
  text-align: left;
  margin: 20px auto;
}

h1 {
  margin: 0px;
  padding: 0 20px;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.bmi-calculator {
  width: 400px;
}

.body-info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.input-label {
  width: 40px;
  margin-right: 10px;
  color: white;
  font-size: 16px;
  white-space: nowrap;
}

input {
  flex: 1;
  min-width: 60px;
  height: 30px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  outline:none;
  padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.unit {
  width: 50px;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  white-space: nowrap;
  text-emphasis: ellipsis;
}

#calculate-button {
  width: 100%;
  min-width: 180px;
  height: 40px;
  color: black;
  border-style: none;
  border-radius: 20px;
  font-weight: bolder;
  white-space: nowrap;
  cursor: pointer;
}

#calculate-button:hover {
  box-shadow: 4px 4px 5px rgba(0,0,0 , 0.2);
}

.result,
.suggestion {
  color: white;
  margin-top: 20px;
}

.bmi-info {
  width: 400px;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: white;
}

.bmi-explanation,
.bmi-calculation-priciple {
  margin-bottom: 40px;
}

h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0px;
}

@media (max-width:859px) {
  h1 {
    text-align: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .bmi-calculator {
    margin-bottom: 20px;
  }
}

@media (max-width:440px){
  .bmi-calculator {
    width: 100%;
  }

  input {
    width: 100%;
  }

  .bmi-info {
    width: 100%;
  }
}